body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


/* own button 761c19 */

.btn-forex {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-forex.focus,
.btn-forex:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-forex:hover {
    color: #fff;
    background-color: #761c19;
    border-color: #761c19
}

.btn-forex.active,
.btn-forex:active,
.open>.dropdown-toggle.btn-forex {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-forex.active.focus,
.btn-forex.active:focus,
.btn-forex.active:hover,
.btn-forex:active.focus,
.btn-forex:active:focus,
.btn-forex:active:hover,
.open>.dropdown-toggle.btn-forex.focus,
.open>.dropdown-toggle.btn-forex:focus,
.open>.dropdown-toggle.btn-forex:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19
}

.btn-forex.active,
.btn-forex:active,
.open>.dropdown-toggle.btn-forex {
    background-image: none
}

.btn-forex.disabled,
.btn-forex.disabled.active,
.btn-forex.disabled.focus,
.btn-forex.disabled:active,
.btn-forex.disabled:focus,
.btn-forex.disabled:hover,
.btn-forex[disabled],
.btn-forex[disabled].active,
.btn-forex[disabled].focus,
.btn-forex[disabled]:active,
.btn-forex[disabled]:focus,
.btn-forex[disabled]:hover,
fieldset[disabled] .btn-forex,
fieldset[disabled] .btn-forex.active,
fieldset[disabled] .btn-forex.focus,
fieldset[disabled] .btn-forex:active,
fieldset[disabled] .btn-forex:focus,
fieldset[disabled] .btn-forex:hover {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-forex .badge {
    color: #d9534f;
    background-color: #fff
}

.panel-forex {
    border-color: black
}

.panel-forex>.panel-heading {
    color: black;
    background-color: #f2dede;
    border-color: black
}

.panel-forex>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: black
}

.panel-forex>.panel-heading .badge {
    color: black;
    background-color: black
}

.panel-forex>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: black
}