<div class="col-sm-6 col-md-12" style="padding-top: 20px;" ng-controller="bookingController" ng-submit="">
    <div class=" row panel panel-info">
        <div class="panel-body">
            <form name="bookingForm" class="form-horizontal" style="padding-top: 10px;" ng-submit="submitBooking()">

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="txtOptionType" class="col-sm-3 control-label">Compnay </label>
                        <div class="col-sm-9">
                            <select class="form-control col-sm-8" id="selectCutOff" ng-model="booking.selectCompnayName" required>
                                <option value="" selected>Select</option>
                                <option value="A" selected>ABC Pte Ltd</option>
                                <option value="B" selected>Book Pte Ltd</option>
                                <option value="C" selected>Craig Pte Ltd</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="txtTradingBook" class="col-sm-3 control-label">Trading Book </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtTradingBook" ng-model="booking.txtTradingBook" placeholder="Book Name">
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="selectCutOff" class="col-sm-3 control-label">Cut Off </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="selectCutOff" ng-model="booking.selectCutOff" required>
                                <option value="" selected>Select</option>
                                <option value="13" selected>13PM</option>
                                <option value="14" selected>14PM</option>
                                <option value="15" selected>15PM</option>
                                <option value="16" selected>16PM</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="selectSalesPerson" class="col-sm-3 control-label">Sales Person </label>
                        <div class="col-sm-9">
                            <select class="form-control col-sm-8" id="selectSalesPerson" ng-model="booking.selectSalesPerson" required>
                                <option value="" selected>Select</option>
                                <option value="1000" selected>RAJESH KUMAR</option>
                                <option value="1001" selected>JOE MARCUS</option>
                                <option value="1002" selected>SYLVIA TAN</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="selectBackToBack" class="col-sm-3 control-label">Back To Back</label>
                        <div class="col-sm-9">
                            <select class="form-control col-sm-8" id="selectBackToBack" ng-model="booking.selectBackToBack" required>
                                <option value="" selected>Select</option>
                                <option value="Y" selected>YES</option>
                                <option value="N" selected>NO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <!-- empty now  -->
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="bttnBook" class="btn btn-forex">Book</button>
                    </div>


                </div>
            </form>

        </div>
    </div>


    <!-- start of detail-->
    <div class=" row panel panel-info">

        <div class="panel-heading">
            <h4 class="panel-title">  Details of Pricing   </h4>
        </div>

        <div class="panel-body">

            <form name="bookingDetForm" class="form-horizontal" style="padding-top: 10px;">
                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="txtOptionType" class="col-sm-3 control-label">Currency Pair</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtOptionType" ng-model="booking.txtCurrencyPair">
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="txtOptionType" class="col-sm-3 control-label">Option Type</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtOptionType" ng-model="booking.txtOptionType">
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="txtOptionType" class="col-sm-3 control-label">Option Value</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtOptionType" ng-model="booking.txtOptionValue">
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="txtOptionType" class="col-sm-3 control-label">Delta </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtOptionType" ng-model="booking.txtDelta">
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6">
                    <div class="form-group">
                        <label for="txtOptionType" class="col-sm-3 control-label">Gamma </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtOptionType" ng-model="booking.txtGamma">
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <!-- end of detail-->
</div>